#post-table {
  margin-top: 2rem;

  table {
    width: 100%;

    td,
    th {
      text-align: center !important;
      vertical-align: middle !important;
    }
  }

  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
}

.modal-body {
  .col {
    margin: 1rem;
  }
}

.mb2{
  margin-bottom: 2 !important;
}

.text-right{
  font-size: small;
  margin-bottom: 2;
  color: black;
}
